.listgroup__container{
  background-color: $white;
  height: auto;
  width: 100%;
  margin: 40px 0;
  overflow-x: auto;
  &__block{
    max-width: $max-width;
    margin: 0 auto;
  }
}

.listgroup__title{
  font-family: $font-family;
  color: $blue;
}

.listgroup__table{
  width: 100%;
  border-spacing: 20px 25px;
  
    th{
      font-family: $font-family;
      font-weight: 700;
      font-size: 16px;
      color: $dar-blue-text;

    }
  
}




