//colors

$white : #ffffff;
$black : #000000;
$dark-blue: #2D3748;
$light-blue: #EDF2F7;
$blue : #4299E1;
$dar-blue-text : #2C5282;

//viewports

$phone: 640px;
$tablet: 768px; 
$desktop: 1024px;

// fonts 

$font-family : 'Roboto';

// others

$max-width: 1440px;